bin/
target/
build/
.classpath/
.project/
.vscode/
.settings/
.gradle/
.DS_Store
!gradle/wrapper/gradle-wrapper.jar
apache_flink-kickstarter.log
gradle.properties
application.properties
error.log
app/src/main/resources/consumer.properties
app/src/main/resources/producer.properties
