[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = ">=1.29.0,<=1.50.0"
setuptools = ">=37.0.0"
apache-flink = "*"
boto3 = "*"
botocore = "*"
confluent-kafka = "2.5.3"
google-api-python-client = "*"
pyiceberg = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.11"
